.cities {
  @include flex-container(column, start, start);
  gap: 16px;
  width: $section_max-width;
}

.section_description {
  @include adaptive_font-size(16, 12);
  color: $main_grey;
}

.cities_container {
  @include flex-container(row, space-evenly, center);
  gap: 24px;

  width: 100%;

  .city {
    @include flex-container(column, center, center);
    gap: 24px;

    .city_img img {
      border-radius: 50%;
    }

    .city_title {
      @include adaptive_font-size(20, 14);
      font-weight: 600;
      line-height: 130%;
      text-align: center;
    }

    @media (max-width: 767px) {
      &:last-child {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    justify-content: center;
  }
}
