.events {
  width: $section_max-width;
}

.section_header {
  @include flex_container(row, start, center);
  gap: 22px;
  margin-bottom: 24px;
  width: 100%;

  .section_heading {
    @include section_heading;
    margin-bottom: 0;
  }

  .location_wrapper {
    @include flex_container_centered;
    position: relative;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .events_location {
    @include inputs(240px, 44px);

    border: none;
    border-radius: 8px;

    background-color: rgba($color: $main_light_teal, $alpha: 0.12);

    &::placeholder {
      @include adaptive_font-size(20, 13);
      font-weight: 500;
      color: $main_teal;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .edit_button {
    @include flex_container_centered;
    position: absolute;
    right: 12px;
    background-color: transparent;
    border: none;
  }

  a {
    @include links;
    margin-left: auto;

    @media (max-width: 600px) {
      margin-left: 0;
    }
  }

  @media (max-width: 600px) {
    @include flex-container(column, start, start);
  }
}

.events_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  grid-gap: 2vw;

  .event_card {
    @include flex_container(column, start, start);
    gap: 12px;

    .card_content {
      @include flex_container(column, start, start);
      gap: 8px;
      flex-wrap: nowrap;

      .card_heading {
        @include adaptive_font-size(20, 10);
        font-weight: 600;
      }

      .card_topic {
        @include adaptive_font-size(14, 10);
        font-weight: 500;
        color: $main_grey;
      }

      .card_description_wrapper {
        @include flex_container(row, start, center);
        gap: 16px;
        flex-wrap: wrap;

        .date {
          @include adaptive_font-size(16, 10);
          width: 100%;

          &::before {
            content: url(../../assets/icons/event_card_calendar.svg);
            vertical-align: middle;
            margin-right: 6px;
          }
        }

        .participants {
          @include adaptive_font-size(16, 10);

          &::before {
            content: url(../../assets/icons/event_card_tick.svg);
            vertical-align: middle;
            margin-right: 6px;
          }
        }

        .admission {
          @include adaptive_font-size(16, 10);

          &::before {
            content: url(../../assets/icons/event_card_admission.svg);
            vertical-align: middle;
            margin-right: 6px;
          }
        }

        @media (max-width: 767px) {
          gap: 6px;
        }
      }
    }

    @media (max-width: 767px) {
      @include flex_container(row, start, start);
      flex-wrap: nowrap;
    }
  }
}
