.friendships {
  @include flex-container(column, start, start);
  gap: 24px;
  width: $section_max-width;
}

.section_description {
  width: 75%;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.friendship_activities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(376px, 1fr));
  grid-gap: 2vw;

  .activity {
    @include flex-container(column, start, start);
    gap: 16px;

    .activity_title {
      @include adaptive_font-size(18, 16);
      font-weight: 600;
      line-height: 150%;
    }

    .activity_info {
      @include regular-text;
      line-height: 150%;
    }

    .activity_link {
      @include links;
      font-weight: 400;
    }
  }
}
