.main_header {
  @include flex_container_centered;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 11px 50px;

  max-width: 1512px;
  min-height: 64px;

  @media (max-width: 1000px) {
    padding: 11px 16px;
  }
}

.header_search {
  @include flex_container_centered;
  order: 1;
  position: relative;
  gap: 0px;
  margin-left: 40px;
  border: none;

  .search_input {
    @include inputs(20vw, 36px);
    border-radius: 8px 0 0 8px;
    background-image: url("../../assets/icons/search_grey.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 8px center;

    &::placeholder {
      color: $main_grey;
    }
  }

  .search_container {
    position: relative;

    .search_location {
      @include inputs(20vw, 36px);
      padding: 0 16px;
      border-radius: 0 8px 8px 0;

      &::placeholder {
        @include adaptive_font-size(16, 12);
        color: $main_black;
      }
    }

    .search_button {
      @include flex_container_centered;
      justify-content: center;

      position: absolute;
      right: 0;
      top: 0;
      width: 36px;
      height: 36px;
      border: none;
      border-radius: 0 8px 8px 0;
      background-color: $main_coral;
    }
  }
}

.header_user-menu {
  @include flex_container_centered;
  order: 2;
  gap: 22px;
  margin-left: auto;

  @media (max-width: 1000px) {
    gap: 16px;
  }
}

.user_language {
  @include flex_container_centered;
  gap: 5px;

  .lang_text {
    @include adaptive_font-size(14, 12);
    font-weight: 600;
  }
}

.login_button {
  @include adaptive_font-size(14, 12);

  border: none;

  background-color: transparent;

  font-weight: 600;
}

.button {
  @include buttons($main_teal, $main_white, 14px, 600);

  @media (max-width: 1000px) {
    font-size: 12px;
  }
}

@media (max-width: 960px) {
  .header_search {
    margin: 8px auto 0;
    order: 3;

    .search_input {
      width: 80vw;
      border-radius: 0 8px 8px 0;
    }

    .search_container {
      .search_location {
        display: none;
      }

      .search_button {
        left: -36px;
        top: -18px;
      }
    }
  }
}
