.join_meetup {
  @include flex-container(row, space-between, center);
  padding: 38px 56px;

  // width: $section_max-width;
  background-color: rgba($color: $main_light_teal, $alpha: 0.08);
}

.join_meetup_info {
  @include flex-container(column, start, start);
  width: 60%;
  gap: 16px;

  .section_heading {
    @include section_heading;
  }

  .signup_button {
    padding: 8px 64px;
    background-color: $main_pink;
  }
}
