.join_meetup {
  padding: 38px 56px;

  // width: $section_max-width;
  background-color: rgba($color: $main_light_teal, $alpha: 0.08);

  .section_heading {
    @include section_heading;
  }
}

.contents_wrapper {
  @include flex-container(row, space-between, center);
  flex-wrap: nowrap;

  .join_meetup_info {
    @include flex-container(column, start, start);
    gap: 16px;

    .join_info {
      @include adaptive_font-size(16, 12);
    }

    .signup_button {
      padding: 8px 64px;
      background-color: $main_pink;
    }

    @media (max-width: 960px) {
      align-items: center;
    }
  }

  .join_meetup_banner {
    @media (max-width: 960px) {
      order: -1;
    }
  }

  @media (max-width: 960px) {
    @include flex-container(column, center, center);
    gap: 16px;
    width: 100%;
  }
}
