.main_banner {
  @include flex-container_centered;
  flex-wrap: wrap;
  width: $section_max-width;
}

.banner_info_container {
  @include flex-container(column, start, start);
  gap: 24px;

  width: 50%;

  @media (max-width: 1200px) {
    @include flex-container(column, center, center);
    margin-bottom: 16px;

    width: 100%;
  }
}

.banner_slogan {
  @include adaptive_font-size(42, 25);
  line-height: 110%;
  font-weight: 700;
}

.banner_description {
  @include regular-text;
}

.banner_img {
  margin: 0 auto;
}

.CTA_button {
  @include buttons($main_teal, $main_white, $regular_text, 400);
  padding: 8px 16px;
}
