.principles {
  width: $section_max-width;
}

.principles_container {
  @include flex-container(row, space-between, center);

  .principle {
    @include flex-container_centered;
    gap: 24px;
    padding: 24px 32px;
    min-height: 180px;
    width: calc(50% - 16px);
    background-color: $section_bg;

    .principle_info {
      @include flex-container(column, start, start);
      gap: 16px;

      .info_title {
        font-size: 20px;
        font-weight: 600;
        line-height: 130%;
      }

      .info_link {
        @include links;
      }
    }

    @media (max-width: 960px) {
      width: 100%;
    }
  }
  @media (max-width: 960px) {
    @include flex-container_centered;
    flex-wrap: wrap;
    gap: 16px;
  }
}
