@mixin transparent_background {
  background-color: #97cad1;
  opacity: 0.08;
}

@mixin flex_container_centered {
  display: flex;
  align-items: center;
}

@mixin flex_container($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin section_heading {
  font-size: 28px;
  line-height: 130%;
  font-weight: 600;
}

@mixin regular-text {
  font-size: $regular_text;
  color: $main_grey;
}

@mixin links {
  font-size: $regular_text;
  font-weight: 500;
  color: $main_teal;
}

@mixin buttons($bgColor, $color, $size, $weight) {
  padding: 8px 16px;
  height: 36px;
  border: none;
  border-radius: 8px;
  background-color: $bgColor;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin inputs($width, $height) {
  padding: 13px 6px 13px 17px;
  min-width: $width;
  height: $height;
  border: 1px solid $main_lighter_grey;
}
