@import "_variables.scss";

* {
  margin: 0;
  padding: 0;

  list-style-type: none;

  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: $main_graphite;
}

.main_container {
  position: relative;
  @include flex-container(column, start, start);
  gap: 64px;

  width: 80vw;
  margin: 64px auto;

  @media (max-width: 960px) {
    margin: 32px auto;
  }

  @media (min-width: 393px) {
    margin: 12px auto;
    width: 96vw;
  }
}

/* Класс для скрытия информации визуально, 
но не для скрин-ридеров */

.visually_hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
