// Colors
$main_teal: #00798a;
$main_light_teal: #97cad1;
$main_coral: #f65858;
$main_pink: #e32359;
$main_white: #ffffff;
$main_grey: #707070;
$main_lighter_grey: #d9d9d9;
$main_light_grey: #c5c4c4;
$main_graphite: #212121;
$main_black: #000000;

// Measures

$section_max-width: 80vw;
$regular_text: 16px;
